apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: solar-system
  name: solar-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: solar-system
  strategy: {}
  template:
    metadata:
      labels:
        app: solar-system
    spec:
      containers:
      - image: spisey/solar-system:17-d25a4f751b754ec4c12c4cc725809f4f9654ee48
        name: solar-system
        ports: 
        - containerPort: 80
        envFrom:
        - secretRef:
            name: mysecret
      imagePullSecrets:
      - name: regcred
